{% extends 'monitor/base/base.html' %}
{% comment %}
A template for creating new pages quickly and easily.
Only optional blocks included, refer below for base block replacements.

WARNING Overriding these blocks will remove base template settings.
['head' , 'body', 'navigation', 'footer']

Worry free blocks to change
# This block changes page title.
['title']



{% endcomment %}

{% block head_extras %}
    {% comment %}
    Extra css? Metadata?
    {% endcomment %}

{% endblock head_extras %}

{% block content %}
    {% comment %}
    Main page content, create layouts folder if site becomes too complex and layouts need to be reused.
    {% endcomment %}

{% endblock content %}



{% block extra_scripts %}
    {% comment %}
    {% endcomment %}

{% endblock %}

